<div class="p-3">
  <div class="container">
    <h1>{{ form?.name }}</h1>
    <p>
      Please fill the details to the best of your knowledge
    </p>
    <form class="form was-validated" #userForm=ngForm>
      <ng-container *ngFor="let question of form?.questions; let i = index" [ngSwitch]="question.type">
		  <div class="form-group d-flex flex-column">
			  <label>{{ question.question }}</label>
			  <ng-container *ngSwitchCase="'SHORT'">
				  <input class="form-control" [name]="i.toString(10)" [(ngModel)]="question.answer" type="text"
						 [required]="question.compulsory" [maxLength]="20">
				  <div class="invalid-feedback">Max 20 characters.</div>
			  </ng-container>
			  <ng-container *ngSwitchCase="'LONG'">
				  <textarea class="form-control" [name]="i.toString(10)" [(ngModel)]="question.answer" type="text"
							[required]="question.compulsory" minlength="20" [rows]="3"></textarea>
				  <div class="invalid-feedback">Min 20 characters.</div>
			  </ng-container>
			  <ng-container *ngSwitchCase="'SINGLE-CHOICE'">
				  <div class="btn-group btn-group-toggle" ngbRadioGroup [name]="i.toString(10)"
					   [(ngModel)]="question.answer" required="true">
					  <ng-container *ngFor="let choice of question.choice">
						  <label ngbButtonLabel class="btn btn-outline-secondary">
							  <input ngbButton type="radio" [value]="choice"> {{choice | titlecase}}
						  </label>
					  </ng-container>

				  </div>
			  </ng-container>
			  <ng-container *ngSwitchCase="'MULTI-CHOICE'">
				  <input class="form-control" [name]="i.toString(10)" [(ngModel)]="question.answer" type="text"
						 [required]="question.compulsory">
			  </ng-container>
			  <ng-container *ngSwitchCase="'BOOLEAN'">

				  <input class="form-control" [name]="i.toString(10)" [(ngModel)]="question.answer" type="text"
						 [required]="question.compulsory">
			  </ng-container>
			<div class="valid-feedback">Valid.</div>
			<div class="invalid-feedback">Please fill out this field.</div>
		  </div>
        </ng-container>

		<div class="d-flex justify-content-center mt-5">
			<button class="btn btn-outline-success btn-lg" (click)="saveForm()" [disabled]="userForm.form.invalid">
					SAVE
			</button>
		</div>
    </form>
  </div>
</div>
